@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f1ea;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.font-comforter {
  font-family: 'Comforter', cursive;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
